:root {
    --darkblue-color: #023e7d;
    --lightblue-color: #5fa8d3;
}
/* General styles */
body {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    background: linear-gradient(
        to right,
        var(--darkblue-color) 0%,
        var(--darkblue-color) 50%,
        var(--lightblue-color) 50%,
        var(--lightblue-color) 100%
    );
}
h1,h2,h3,p,a {
    color: rgba(0,0,0,0.8);
}
hr {
    margin: 0.5em auto;
    border:0;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.title {
    color: var(--darkblue-color);
    font-size: 1.4em;
    margin: 1em auto;
}
.bold {
    font-weight: 600;
}
.link,
.link:visited {
    color: var(--lightblue-color);
    text-decoration: none;
}
.link:hover,
.link:active {
    text-decoration: underline;
}
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.call-to-action__btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 2px solid var(--lightblue-color);
    border-radius: 0.3em;
    background-color: #fff;
    text-decoration: none;
}
.call-to-action__btn:hover {
    background-color: var(--lightblue-color);
    color: #fff;
    transition: all ease-in-out 0.3ms;
}

/* Content bloc */
.container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 1.2em;
    padding-top: 5em;
    box-sizing: border-box;
    overflow-y: auto;
}
.content {
    position: relative;
    background: white;
    max-width: 40em;
    border-radius: 0.3em;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    padding: 1.2em;
    box-sizing: border-box;
    text-align: center;
}

/* Profile picture */
.profile-picture {
    margin: auto;
    width: 16em;
    height: 16em;
    padding: 0.75em;
    border-radius: 50%;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
}
.profile-picture img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

/* Introduction */
.introduction {
    margin-top: 1.5em;
}
.introduction-fullname {
    letter-spacing: 0.025em;
    font-weight: 600;
    font-size: 1.7em;
}
.introduction-job {
    font-weight: 400;
    color: #979797;
}
.introduction-description {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.introduction-description p {
    line-height: 1.7;
}

/* Skills section */
.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.skills-list li {
    width: 50%;
}
.skills-list li:nth-child(even) {
    text-align: left;
}
.skills-list li:nth-child(odd) {
    text-align: right;
}
.skills-list__box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background: var(--lightblue-color);
    padding: 0.62em 0.93em;
    border-radius: 0.18em;
    color: white;
    margin: 0.5em 0.3em;
}
.skills-list__tag {
    display: inline-block;
    padding: 0px 5px;
    background: var(--darkblue-color);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1);
    vertical-align: middle;
    border-radius: 0.18em;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    line-height: 20px;
}

/* Projects section */
.project-card {
    width: 75%;
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
    border-radius: 0.3em;
}
.project-card__content {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.project-card__content h4 {
    font-size: 1rem;
    margin-bottom: 0.3em;
}
.project-card__content p {
    text-align: justify;
    max-width: 40ch;
}
.project-card a {
    border-radius: 1.875em;
    margin-top: 0;
    margin-bottom: 1em;
}

/* Footer section */
.footer {
    margin-top: 1.5em;
}

/* Responsive */
@media screen and (max-width: 620px){
    .call-to-action {
        display: flex;
        flex-direction: column;
    }
    .call-to-action__btn {
        margin: 5px 10px;
    }
    .skills-list {
        grid-template-columns: 1fr;
    }
    .skills-list li:nth-child(even),
    .skills-list li:nth-child(odd) {
        text-align: center;
    }
}